html, body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}
    body {
        position: relative;
        user-select: none;
    }
#app {
    background-color: #000000;
    margin: auto;
    padding: 0;
    display: block;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#gamepad {
    width: 100%;
    height: 100%;
}
    #gamepad.hidden {
        display: none;
    }

.button {
    background-color: rgba(255, 255, 255, 0.3);
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
}
    .button:active {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .button svg, .button b {
        margin: auto;
        pointer-events: none;
        user-select: none;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .button svg {
        fill: rgba(255, 255, 255, 0.5);
    }
    .button b {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
    }

@media (orientation: portrait) {
    .button svg {
        width: 9vw;
        height: 9vw;
    }
    .button b {
        font-size: 6vw;
        line-height: 13vw;
    }
    .button-large {
        width: 15vw;
        height: 15vw;
    }
    .button-small {
        width: 12vw;
        height: 12vw;
    }
    .button-action4 {
        right: 18vw;
        bottom: 34vw;
    }
    .button-action3 {
        right: 30vw;
        bottom: 22vw;
    }
    .button-action2 {
        right: 6vw;
        bottom: 22vw;
    }
    .button-action1 {
        right: 18vw;
        bottom: 10vw;
    }
    .button-back {
        left: 10vw;
        top: 10vw;
    }
    .button-pause {
        right: 10vw;
        top: 10vw;
    }
    .button-left {
        left: 6vw;
        bottom: 22vw;
    }
    .button-right {
        left: 30vw;
        bottom: 22vw;
    }
    .button-up {
        left: 18vw;
        bottom: 34vw;
    }
    .button-down {
        left: 18vw;
        bottom: 10vw;
    }
}

@media (orientation: landscape) {
    .button svg {
        width: 10vh;
        height: 10vh;
    }
    .button b {
        font-size: 8vh;
        line-height: 15vh;
    }
    .button-large {
        width: 17vh;
        height: 17vh;
    }
    .button-small {
        width: 14vh;
        height: 14vh;
    }
    .button-action4 {
        right: 24vh;
        bottom: 38vh;
    }
    .button-action3 {
        right: 38vh;
        bottom: 24vh;
    }
    .button-action2 {
        right: 10vh;
        bottom: 24vh;
    }
    .button-action1 {
        right: 24vh;
        bottom: 10vh;
    }
    .button-back {
        left: 10vh;
        top: 10vh;
    }
    .button-pause {
        right: 10vh;
        top: 10vh;
    }
    .button-left {
        left: 10vh;
        bottom: 24vh;
    }
    .button-right {
        left: 38vh;
        bottom: 24vh;
    }
    .button-up {
        left: 24vh;
        bottom: 38vh;
    }
    .button-down {
        left: 24vh;
        bottom: 10vh;
    }
}
